User Engagement Analysis

In [2]:
import pickle
import numpy as np
import pandas as pd
import math
from sklearn import metrics
from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler, normalize
from scipy.spatial.distance import cdist
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import plotly.graph_objects as go
from plotly.subplots import make_subplots

In [5]:
import os , sys
sys.path.append(os.path.abspath(os.path.join('../scripts')))
from data_selector import *
from data_visualizer import *
from data_outlier_handler import OutlierHandler

Data Reading

In [7]:
df = pd.read_csv("C:/Users/USER/Desktop/KAIM/TellCo-Data-Analysis/Data/cleaned_Tellco_data.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60586 entries, 0 to 60585
Data columns (total 55 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Unnamed: 0                        60586 non-null  int64
 1   Bearer Id                         60586 non-null  int64
 2   Start                             60586 non-null  object
 3   Start ms                          60586 non-null  float64
 4   End                               60586 non-null  object
 5   End ms                            60586 non-null  float64
 6   IMSI                              60586 non-null  int64
 7   MSISDN/Number                     60586 non-null  int64
 8   IMEI                              60586 non-null  int64
 9   Last Location Name                60586 non-null  object
 10  Avg RTT DL (ms)                   60586 non-null  float64
 11  Avg RTT UL (ms)                   60586 non-null  float64
 12  Avg Bearer TP DL (kbps)           60586 non-null  float64
 13  Avg Bearer TP UL (kbps)           60586 non-null  float64
 14  TCP DL Retrans. Vol (Bytes)       60586 non-null  float64
 15  TCP UL Retrans. Vol (Bytes)       60586 non-null  float64
 16  DL TP < 50 Kbps (%)               60586 non-null  float64
 17  50 Kbps < DL TP < 250 Kbps (%)    60586 non-null  float64
 18  250 Kbps < DL TP < 1 Mbps (%)     60586 non-null  float64
 19  DL TP > 1 Mbps (%)                60586 non-null  float64
 20  UL TP < 10 Kbps (%)               60586 non-null  float64
 21  10 Kbps < UL TP < 50 Kbps (%)     60586 non-null  float64
 22  50 Kbps < UL TP < 300 Kbps (%)    60586 non-null  float64
 23  UL TP > 300 Kbps (%)              60586 non-null  float64
 24  Activity Duration DL (ms)         60586 non-null  float64
 25  Activity Duration UL (ms)         60586 non-null  float64
 26  Dur. (ms).1                       60586 non-null  float64
 27  Handset Manufacturer              60586 non-null  object
 28  Handset Type                      60586 non-null  object
 29  Nb of sec with Vol DL < 6250B     60586 non-null  float64
 30  Nb of sec with Vol UL < 1250B     60586 non-null  float64
 31  Social Media DL (Bytes)           60586 non-null  float64
 32  Social Media UL (Bytes)           60586 non-null  float64
 33  Google DL (Bytes)                 60586 non-null  float64
 34  Google UL (Bytes)                 60586 non-null  float64
 35  Email DL (Bytes)                  60586 non-null  float64
 36  Email UL (Bytes)                  60586 non-null  float64
 37  Youtube DL (Bytes)                60586 non-null  float64
 38  Youtube UL (Bytes)                60586 non-null  float64
 39  Netflix DL (Bytes)                60586 non-null  float64
 40  Netflix UL (Bytes)                60586 non-null  float64
 41  Gaming DL (Bytes)                 60586 non-null  float64
 42  Gaming UL (Bytes)                 60586 non-null  float64
 43  Other DL (Bytes)                  60586 non-null  float64
 44  Other UL (Bytes)                  60586 non-null  float64
 45  Total UL (Bytes)                  60586 non-null  float64
 46  Total DL (Bytes)                  60586 non-null  float64
 47  Social Media Data Volume (Bytes)  60586 non-null  float64
 48  Google Data Volume (Bytes)        60586 non-null  float64
 49  Email Data Volume (Bytes)         60586 non-null  float64
 50  Youtube Data Volume (Bytes)       60586 non-null  float64
 51  Netflix Data Volume (Bytes)       60586 non-null  float64
 52  Gaming Data Volume (Bytes)        60586 non-null  float64
 53  Other Data Volume (Bytes)         60586 non-null  float64
 54  Total Data Volume (Bytes)         60586 non-null  float64
dtypes: float64(45), int64(5), object(5)
memory usage: 25.4+ MB

In [9]:
df.columns

Index(['Unnamed: 0', 'Bearer Id', 'Start', 'Start ms', 'End', 'End ms', 'IMSI',
       'MSISDN/Number', 'IMEI', 'Last Location Name', 'Avg RTT DL (ms)',
       'Avg RTT UL (ms)', 'Avg Bearer TP DL (kbps)', 'Avg Bearer TP UL (kbps)',
       'TCP DL Retrans. Vol (Bytes)', 'TCP UL Retrans. Vol (Bytes)',
       'DL TP < 50 Kbps (%)', '50 Kbps < DL TP < 250 Kbps (%)',
       '250 Kbps < DL TP < 1 Mbps (%)', 'DL TP > 1 Mbps (%)',
       'UL TP < 10 Kbps (%)', '10 Kbps < UL TP < 50 Kbps (%)',
       '50 Kbps < UL TP < 300 Kbps (%)', 'UL TP > 300 Kbps (%)',
       'Activity Duration DL (ms)', 'Activity Duration UL (ms)', 'Dur. (ms).1',
       'Handset Manufacturer', 'Handset Type', 'Nb of sec with Vol DL < 6250B',
       'Nb of sec with Vol UL < 1250B', 'Social Media DL (Bytes)',
       'Social Media UL (Bytes)', 'Google DL (Bytes)', 'Google UL (Bytes)',
       'Email DL (Bytes)', 'Email UL (Bytes)', 'Youtube DL (Bytes)',
       'Youtube UL (Bytes)', 'Netflix DL (Bytes)', 'Netflix UL (Bytes)',
       'Gaming DL (Bytes)', 'Gaming UL (Bytes)', 'Other DL (Bytes)',
       'Other UL (Bytes)', 'Total UL (Bytes)', 'Total DL (Bytes)',
       'Social Media Data Volume (Bytes)', 'Google Data Volume (Bytes)',
       'Email Data Volume (Bytes)', 'Youtube Data Volume (Bytes)',
       'Netflix Data Volume (Bytes)', 'Gaming Data Volume (Bytes)',
       'Other Data Volume (Bytes)', 'Total Data Volume (Bytes)'],
      dtype='object')

User Engagement Metrics

In [10]:
user_engagement_df = df[['MSISDN/Number', 'Bearer Id', 'Dur. (ms).1', 'Total Data Volume (Bytes)']]

In [11]:
# aggregating user engagement metrics per user
user_engagement_df = user_engagement_df.groupby(
    'MSISDN/Number').agg({'Bearer Id': 'count', 'Dur. (ms).1': 'sum', 'Total Data Volume (Bytes)': 'sum'})
user_engagement_df = user_engagement_df.rename(
    columns={'Bearer Id': 'xDR Sessions'})
user_engagement_df.head()

               xDR Sessions  Dur. (ms).1  Total Data Volume (Bytes)
MSISDN/Number
33601007832               1   49878024.0                422320698.0
33601008617               1   18555323.0                871832580.0
33601010682               1  128088011.0                194367933.0
33601011634               1   64180392.0                199050991.0
33601011959               1   86399977.0                332660357.0

In [12]:
# top 10 customers per xDR sessions
user_engagement_df.nlargest(10, 'xDR Sessions')

               xDR Sessions   Dur. (ms).1  Total Data Volume (Bytes)
MSISDN/Number
33659725664              12  3.204990e+09               5.590099e+09
33667163239              12  8.485604e+09               5.499476e+09
33614892860              11  6.049279e+09               6.348299e+09
33659359429              10  2.332679e+09               4.224487e+09
33659822913              10  4.889931e+09               3.299376e+09
33603127838               9  4.887847e+09               3.737505e+09
33658263267               9  2.484771e+09               4.927907e+09
33675877202               9  2.792791e+09               4.602815e+09
33681557919               9  4.093421e+09               3.791379e+09
33604515716               8  3.425932e+09               4.139835e+09

In [13]:
# top 10 customers per duration(ms)
user_engagement_df.nlargest(10, 'Dur. (ms).1')

               xDR Sessions   Dur. (ms).1  Total Data Volume (Bytes)
MSISDN/Number
33667163239              12  8.485604e+09               5.499476e+09
33614892860              11  6.049279e+09               6.348299e+09
33625779332               5  5.233185e+09               2.949550e+09
33659822913              10  4.889931e+09               3.299376e+09
33603127838               9  4.887847e+09               3.737505e+09
33662840755               6  4.120956e+09               2.731476e+09
33681557919               9  4.093421e+09               3.791379e+09
33668929914               8  4.091725e+09               4.849671e+09
33626320676               7  3.578263e+09               3.396601e+09
33604515716               8  3.425932e+09               4.139835e+09

In [14]:
# top 10 customers per total data traffic
user_engagement_df.nlargest(10, 'Total Data Volume (Bytes)')

               xDR Sessions   Dur. (ms).1  Total Data Volume (Bytes)
MSISDN/Number
33614892860              11  6.049279e+09               6.348299e+09
33659725664              12  3.204990e+09               5.590099e+09
33667163239              12  8.485604e+09               5.499476e+09
33665140229               7  1.366500e+09               4.928688e+09
33658263267               9  2.484771e+09               4.927907e+09
33659546392               8  1.983092e+09               4.906749e+09
33668929914               8  4.091725e+09               4.849671e+09
33762333464               8  2.732116e+09               4.816230e+09
33760413819               7  3.331283e+09               4.753227e+09
33668047871               8  2.933086e+09               4.606712e+09